@gatling.io:registry=https://${AWS_CODEARTIFACT_DOMAIN}-${AWS_CODEARTIFACT_OWNER}.d.codeartifact.${AWS_CODEARTIFACT_REGION}.amazonaws.com/npm/previews/
//${AWS_CODEARTIFACT_DOMAIN}-${AWS_CODEARTIFACT_OWNER}.d.codeartifact.${AWS_CODEARTIFACT_REGION}.amazonaws.com/npm/previews/:_authToken=${AWS_CODEARTIFACT_AUTH_TOKEN}
